.app-cart-modal {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 30vw;
  height: 96vh;
  padding: 2vh 2vw;
  left: 66vw;
  transition: ease-in-out 300ms all;

  &__container-products {
    height: calc(96vh - 130px);
    overflow-y: auto;

    &__item {
      display: flex;
      margin-bottom: 16px;

      .container-img {
        margin-right: 16px;
      }
    }
  }

  &__header-cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    i {
      margin-bottom: 16px;
      font-size: 24px;
      cursor: pointer;
      transition: ease-in-out all 300ms;

      &:hover {
        color: var(--main-green);
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    width: 90vw;
    left: 0;
    padding: 2vh 5vw;
  }
}

.background-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba($color: #000, $alpha: 0.2);
}

@keyframes fadeIn {
  0% {
    display: flex;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    display: flex;
    opacity: 100%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    display: none;
  }
  
}

.fade-out {
  animation: fadeOut 300ms;
}

.fade-in {
  animation: fadeIn 300ms
}

.is-open {
  left: 100vw;
}

@media only screen and (max-width: 1024px) { 
  .is-open {
    left: 100vw;
  }
}