.app__header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  z-index: 2;
  background-color: white;
}