.app__home {
  &__product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      
      img {
        border-radius: 8px 8px 0px 0px;
      }

      &__container-text {
        padding: 16px;
      }

      &-name {
        padding: 8px 0px;
      }
    }
  }
}