.app__home {
  &__product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      margin: 0px 8px 16px 0px;
      width: 200px;
      
      img {
        border-radius: 8px 8px 0px 0px;
        object-fit: cover;
      }

      &__container-text {
        padding: 16px;
      }

      &-name {
        margin: 8px 0px;
        height: 36px;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical
      }
      

      @media only screen and (max-width: 600px) {
        min-width: 80vw;
      }
    }
  }
}