.app__button {
  padding: 9px 12px;
  border-radius: 50px;
  transition: all ease-in-out 300ms;
  cursor: pointer;

  &__main {
    background-color: transparent;
    border: var(--main-green) 2px solid;
    color: var(--main-green);
    font-weight: bold;
  }

  &__danger {
    background-color: var(--main-red);
    color: var(--white);
    font-weight: bold;
  }

  &__amount {
    width: 36px;
    height: 36px;
  }

  &:hover {
    filter: brightness(1.3);
  }
}