* {
  margin: 0px;
  padding: 0px;
  border: none;
}

h2 {
  margin-bottom: 16px;
}

.display-none {
  display: none;
}

.padding-page {
  padding-left: 10vw;
  padding-right: 10vw;
}

.padding-header {
  padding-top: 80px;
}